{% extends 'including/masterPage.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <a href="{{ path('app_calendar_index') }}" class="link-secondary"><i class="fa fa-arrow-left m-2 secondary" aria-hidden="true"></i>Retour</a>
    <h1>Calendrier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ calendar.titre }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ calendar.debut ? calendar.debut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ calendar.fin ? calendar.fin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
            <tr>
                <th>All_day</th>
                <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Background_color</th>
                <td>{{ calendar.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Border_color</th>
                <td>{{ calendar.borderColor }}</td>
            </tr>
            <tr>
                <th>Text_color</th>
                <td>{{ calendar.textColor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}" class="btn btn-success">Modifier</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
