{% extends 'including/masterPage.html.twig'  %}
{% block head %}
   <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
{% endblock %}
{% block body %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4 "style="float:left;">{{title}}</h5>
              <p>
                <a href="{{ path('app_register') }}" type="button" class="btn btn-outline-secondary" style="float:right;">Ajouter</a>
              </p>
              <div class="card mt-5">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>CIN</th>
                        <th>Nom complet</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    	{% for admin in admins %}
                      <tr>
		                        <td>
		                          {{admin.cin }}
		                        </td>
		                        <td>{{admin.nom }} {{admin.prenom }}</td>
		                        <td>{{admin.tel }}</td>
		                        <td>{{admin.email }}</td>
		                        <td>{{admin.adresse }}</td>
		                        <td > 		                        
		                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center ms-2">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#myModal{{admin.cin}}">
                                      <li>
                                        <i class="fa fa-trash" aria-hidden="true" style="color:red"></i>
                                     </li>
                                    </a>
                                    <a href="{{ path('show_admin',{cin:admin.cin}) }}" class="ms-3">
                                      <li>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"style="color:green"></i>
                                      </li>
                                    </a>
		                            <div class="modal fade" id="myModal{{admin.cin}}">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Modal body -->
                                      <div class="modal-body">
                                        Voulez-vous vraiment supprimer cet élément?
                                      </div>
                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <a type="button" class="btn btn-danger"  href="{{ path('delete',{cin:admin.cin}) }}">Oui</a>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Non</button>
                                      </div>
                                  </div>
                                </div> 
		                          </ul>
		                        </td>
		                      </tr>
                    	{% endfor %}
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}  