{% extends 'including/masterPage.html.twig'  %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold m-4">Notes->Eleve : {{nomComplet}} </h5>
            <h6 class="fw-semibold m-4" style="text-align:right;" ><a href="{{ path('addNoteParEleve') }}"><-Retour</a></h6>
            <form method="post" action="{{ path('ajoutNoteParEleve') }}">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Nom complet</label> 
                        <input type="text" class="form-control" value="{{ nomComplet }}" disabled>
                    </div> 
                    <div class="col-md-4">
                        <label for="">Code Massar</label>
                        <input type="text" class="form-control" value="{{ codeMassar }}" disabled>
                        <input type="text"  value="{{ codeMassar }}" name="codeMassar" hidden>
                    </div> 
                    <div class="col-md-4">
                        <label for="">Semester</label>
                        <input type="text" class="form-control" value="{{ semester }}" disabled>
                        <input type="text"  value="{{ idSem }}" name="semester" hidden>
                    </div> 
                    <div class="col-md-4">
                        <label for="">Devoir 1</label>
                        <input type="text" class="form-control" value="{% if note != null %}{{note.devoire1}}{% endif %}" name="devoir1" pattern="^(1[0-9]|20|[1-9])(\.[0-9]{1,2})?$" title="la note ne doit pas être supérieure à 20 et la partie décimale doit être composée de deux chiffres" required>
                    </div>
                    <div class="col-md-4">
                        <label for="">Devoir 2</label>
                        <input type="text" class="form-control" value="{% if note != null %}{{note.devoire2}}{% endif %}" name="devoir2" pattern="^(1[0-9]|20|[1-9])(\.[0-9]{1,2})?$" title="la note ne doit pas être supérieure à 20 et la partie décimale doit être composée de deux chiffres">
                    </div>
                    <div class="col-md-4">
                        <label for="">Devoir 3</label>
                        <input type="text" class="form-control" value="{% if note != null %}{{note.devoire3}}{% endif %}" name="devoir3" pattern="^(1[0-9]|20|[1-9])(\.[0-9]{1,2})?$" title="la note ne doit pas être supérieure à 20 et la partie décimale doit être composée de deux chiffres">
                    </div>
                     <div class="col-md-6">
                        <label for="">Remarque</label>
                        <input type="text" class="form-control" value="{% if note != null %}{{note.remarque}}{% endif %}" name="remarque" pattern="[A-Za-z]{5,100}" title="remarque doit étre entre 5 et 200 characters .">
                    </div>
                    <div class="col-md-4 m-4">
                        <button  class="btn btn-primary" type="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


