{% extends 'including/masterPage.html.twig' %}

{% block title %}Suivi Pédagogique{% endblock %}

{% block body %}
    <a href="{{ path('app_suivi_index') }}" class="link-secondary"><i class="fa fa-arrow-left m-2 secondary" aria-hidden="true"></i>Retour</a>
    <h1>Suivi Pédagogique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ suivi.titre }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ suivi.remarque }}</td>
            </tr>
            <tr>
                <th>Le fichier {{ suivi.fichier|slice(0,-4) }} :</th>
            </tr>
        </tbody>
    </table>

    <embed type="application/pdf"
       src="/uploads/pdfs/{{ suivi.fichier }}"
       width="100%"
       height="500">

    <a href="{{ path('app_suivi_edit', {'id': suivi.id}) }}" class="btn btn-success">Modifier</a>

    {{ include('suivi_pedagogique/_delete_form.html.twig') }}
{% endblock %}